html, body {
   height: 100%;
   margin: 0;
   padding: 0;
}

#map {
   height: 100%;
}

h3 {
   font-family: 'Roboto','sans-serif';
   line-height: 30px;
   color: #dddddd;
   font-weight: 200;
}

#drop {
   background-color: #ddd; /* Green */
   font-family: 'Roboto','sans-serif';
   line-height: 25px;
   border-radius: 4px;
   -webkit-transition-duration: 0.4s; /* Safari */
   transition-duration: 0.4s;
   box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}

#drop:hover {
   background-color: #4CAF50; /* Green */
   color: white;
}

#floating-panel {
   position: absolute;
   top: 30px;
   right: 6%;
   z-index: 5;
   background-color: #333333;
   padding: 5px;
   border: 1px solid #999;
   text-align: center;
   font-family: 'Roboto','sans-serif';
   line-height: 30px;
   padding-left: 10px;
   padding-right: 10px;
   margin-left: -52px;
   opacity: 0.82;
}

#floating-panel:before {
  content: '';
  position: absolute;
  z-index: -1;
  height: 100%;
  top: 0; right: 0; left: 0;
  filter: blur(5px);
  -webkit-filter: blur(5px);
  -moz-filter: blur(5px);
  -o-filter: blur(5px);
  -ms-filter: blur(5px);
}

.styled-select select {
   background: transparent;
   width: 240px;
   padding: 5px;
   font-size: 16px;
   line-height: 1;
   border: 0;
   border-radius: 0;
   height: 34px;
   -webkit-appearance: none;
   }

.styled-select {
   width: 220px;
   height: 34px;
   overflow: hidden;
   background: url(/images/down_arrow_select.jpg) no-repeat right #ddd;
   border: 1px solid #ccc;
   margin-bottom: 50px;
}

@-moz-keyframes pulsate {
   from {
      -moz-transform: scale(0.25);
      opacity: 1.0;
   }
   95% {
      -moz-transform: scale(1.5);
      opacity: 0;
   }
   to {
      -moz-transform: scale(0.3);
      opacity: 0;
   }
}
@-webkit-keyframes pulsate {
   from {
      -webkit-transform: scale(0.25);
      opacity: 1.0;
   }
   95% {
      -webkit-transform: scale(1.5);
      opacity: 0;
   }
   to {
      -webkit-transform: scale(0.3);
      opacity: 0;
   }
}
   
/* get the container that's just outside the marker image, which just happens to have our Marker title in it */
#map div.gmnoprint[title="pulseme"] {
   -moz-animation: pulsate 1.5s ease-in-out infinite;
   -webkit-animation: pulsate 1.5s ease-in-out infinite;
   border:1pt solid #fff;
   /* make a circle */
   -moz-border-radius:51px;
   -webkit-border-radius:51px;
   border-radius:51px;
   /* multiply the shadows, inside and outside the circle */
   -moz-box-shadow:inset 0 0 5px #06f, inset 0 0 5px #06f, inset 0 0 5px #06f, 0 0 5px #06f, 0 0 5px #06f, 0 0 5px #06f;
   -webkit-box-shadow:inset 0 0 5px #06f, inset 0 0 5px #06f, inset 0 0 5px #06f, 0 0 5px #06f, 0 0 5px #06f, 0 0 5px #06f;
   box-shadow:inset 0 0 5px #06f, inset 0 0 5px #06f, inset 0 0 5px #06f, 0 0 5px #06f, 0 0 5px #06f, 0 0 5px #06f;
   /* set the ring's new dimension and re-center it */
   height:51px!important;
   margin:-18px 0 0 -18px;
   width:51px!important;
}

/* hide the superfluous marker image since it would expand and shrink with its containing element */
/* #map_canvas div[style*="987654"][title] img {*/
#map div.gmnoprint[title="pulseme"] img {
   display:none;
}

/* compensate for iPhone and Android devices with high DPI, add iPad media query */
@media only screen and (-webkit-min-device-pixel-ratio: 1.5), only screen and (device-width: 768px) {
   #map div.gmnoprint[title="pulseme"] {
      margin:-10px 0 0 -10px;
   }
}
